@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #643843;
    --dark: #85586F;
    --light: #AC7D88;
    --white: #FDF0D1;

    --gradient: linear-gradient(to bottom right, skyblue, #7f69c6, #ad7bd9, magenta);

    --logo-fonts: "Pacifico", cursive;
    --title-fonts: "Poppins", sans-serif;
    --primary-fonts: "Ubuntu", sans-serif;
}

body{
    background-color: var(--white);
    font-family: var(--primary-fonts);
    padding-bottom: 5rem;
} 
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* ---------------------- Navbar ---------------------- */
.navbar{
    height: 4rem;
    background-color: var(--black);
    overflow: hidden;
    padding-top: 0.6rem;
    transition: 0.2s;
    padding: 0 20px;
}
.nav-expand{
    height: 10rem;
}
.nav-sm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    color: var(--white);
    font-family: var(--logo-fonts);
    font-size: 2rem;
    font-style: italic;
}
.bar-icon{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav-right{
    background-color: var(--black);
    padding: 1rem;
}
.nav-item{
    margin: 1rem 0;
    text-align: right;
}
.nav-link{
    font-size: 1.1rem;
    color: var(--white);
}
/* ---------------------- Form ---------------------- */

.form-container{
    background-color: var(--black);
    width: 95%;
    max-width: 450px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    border-radius: 15px;
    padding: 2rem 0.5rem 1rem;
}
.signup-form-container{
    position: static;
    transform: translate(0, 0);
    margin: 5rem auto 0;
    max-width: 750px;
}
.login-signup-form{
    border: solid 2px var(--white);
    border-radius: 15px;
    padding: 2rem 0.5rem 1rem;
    position: relative;
}
.form-title{
    font-family: var(--title-fonts);
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translate(0, -55%);
    background-color: var(--black);
    padding: 0 2px;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.form-link{
    color: var(--white);
}
.create-acount-link{
    text-decoration: underline;
}

.input-box{
    height: 3rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.input-box input, .input-box select{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--black);
    border-bottom: 1px solid var(--white);
    padding-left: 10px;
    color: var(--white);
    font-size: 1.4rem;
}
.input-box label{
    position: absolute;
    color: var(--white);
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: 0.1s;
}
.input-box .eye-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.input-box select{
    font-size: 1.2rem;
}
.input-box input:focus, .input-box input:valid{
    border: solid var(--white) 2px;
    border-radius: 7px;
}
.input-box input:focus + label, .input-box input:valid + label{
    font-size: 1rem;
    top: 0;
    left: 7px;
    background-color: var(--black);
}
.remember-me-forget-pwd-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}
.form-link{
    text-decoration: underline;
}
.gender-box{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 0.5rem;
}
.submit-box{
    height: 2.5rem;
    margin-bottom: 1rem;
}
.submit-btn{
    border: none;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--black);
}



/* ---------------------- Media Query ---------------------- */
@media (min-width: 350px){
    .form-container{
        padding: 2rem 1rem 1rem;
    }
    .login-signup-form{
        padding: 2rem 1rem 1rem;
    }
    .input-box input, .input-box select{
        padding-left: 20px;
    }
    .input-box label{
        left: 20px;
    }
    .remember-me-forget-pwd-box{
        flex-direction: row;
        justify-content: space-between;
    }
    .gender-box{
        flex-direction: row;
        gap: 0rem;
    }
}
@media (min-width: 400px){
    .bar-icon{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav-right{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 0rem;
    }
    .nav-link{
        background-color: var(--white);
        color: var(--black);
        padding: 0.5rem 1rem;
        border: solid var(--white) 2px;
        border-radius: 5px;
    }
    .nav-link:hover{
        background-color: var(--black);
        color: var(--white);
    }
    .login-signup-form{
        padding: 2rem 1.5rem 1rem;
    }
}

@media (min-width: 768px){
    .user-info{
        flex-direction: row;
        gap: 2rem;
    }
}